@page "/cpanel/shop/products/add"
@using Application.Repositories.Shop
@using Application.Repositories.cpanel
@using Blazored.TextEditor
@using MD.PersianDateTime
@inject IJSRuntime js
 @rendermode InteractiveServer
<div class="page-header">
    <div>
        <h3>افزودن محصول جدید</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/cpanel/">داشبورد</a></li>
                <li class="breadcrumb-item"><NavLink href="/cpanel/shop/products">لیست محصولات</NavLink></li>
                <li class="breadcrumb-item active" aria-current="page">محصول جدید</li>
            </ol>
        </nav>
    </div>

</div>
<!-- end::page header -->

<div class="card">
    <div class="card-body">
        <EditForm Model="product" OnSubmit="Save" Enhance FormName="f1">
            <div class="row">
                <div class="col-12">
                    <label class="form-label">عنوان</label>
                    <InputText @bind-Value="product.Name" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label class="form-label">دسته بندی محصول</label>
                    <InputSelect @bind-Value="product.CatalogId" class="form-control">
                        <option value="0">گزینه ای انتخاب کنید</option>
                        @foreach (var item in catalogs)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    </InputSelect>
                </div>
                <div class="col-md-6">
                    <label class="form-label">وضعیت انتشار</label>
                    <InputSelect @bind-Value="product.IsPublish" class="form-control">
                        <option value="true">منتشر شود</option>
                        <option value="false">عدم انتشار</option>
                    </InputSelect>
                </div>
                <div class="col-md-6 mt-3">
                    <label class="form-label">مبلغ جاری</label>
                    <InputNumber @bind-Value="product.Price"  class="form-control text-left" />
                    <p style="font-size:1.5em" class="text-left mb-0">@FormattedPrice</p>
                </div>
                <div class="col-md-6 mt-3">
                    <label class="form-label">مبلغ قبلی</label>
                    <InputNumber @bind-Value="product.PriceOld" class="form-control  text-left" />
                    <p style="font-size:1.5em" class="text-left mb-0">@FormattedPriceOld</p>
                </div>
                <div class="col-12 mt-4">
                    <label class="form-label">ویژگی های محصول</label>
                    <BlazoredTextEditor @ref="@QuillHtmlF" EditorCssStyle="background:#fff">
                        <ToolbarContent>
                            <select class="ql-header">
                                <option selected=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                            </select>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-align" value=""></button> <!-- Left Align -->
                                <button class="ql-align" value="center"></button> <!-- Center Align -->
                                <button class="ql-align" value="right"></button> <!-- Right Align -->
                                <button class="ql-align" value="justify"></button> <!-- Justify Align -->
                            </span>
                            <!-- New Direction Buttons -->
                            @*  <span class="ql-formats">
                                <button class="ql-direction" value="ltr">LTR</button> <!-- Left to Right -->
                                <button class="ql-direction" value="rtl">RTL</button> <!-- Right to Left -->
                            </span> *@
                        </ToolbarContent>
                        <EditorContent >

                        </EditorContent>
                    </BlazoredTextEditor>

                </div>
                <div class="col-12 mt-4">
                    <label class="form-label">توضیح  محصول</label>
                    <BlazoredTextEditor @ref="@QuillHtmlD" EditorCssStyle="background:#fff">
                        <ToolbarContent>
                            <select class="ql-header">
                                <option selected=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                            </select>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-align" value=""></button> <!-- Left Align -->
                                <button class="ql-align" value="center"></button> <!-- Center Align -->
                                <button class="ql-align" value="right"></button> <!-- Right Align -->
                                <button class="ql-align" value="justify"></button> <!-- Justify Align -->
                            </span>
                            <!-- New Direction Buttons -->
                            @*  <span class="ql-formats">
                                <button class="ql-direction" value="ltr">LTR</button> <!-- Left to Right -->
                                <button class="ql-direction" value="rtl">RTL</button> <!-- Right to Left -->
                            </span> *@
                        </ToolbarContent>
                        <EditorContent>

                        </EditorContent>
                    </BlazoredTextEditor>

                </div>
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-success">ذخیره .....</button>
                </div>
            </div>
        </EditForm>

    </div>
</div>
<style>
    .ql-editor, .ql-container {
    direction:rtl;
    color:#000;
    text-align:right;
    font-family: "primary-font", "segoe ui", "tahoma";
    height:fit-content;
    }

    .ql-ui {
    position: relative !important;
    padding: 0 10px;
    right: -12px;
    }


    .ql-toolbar{
    background:#fff;
    }
</style>
@code {
    [SupplyParameterFromForm]
    public Domain.Models.shop.Product product { get; set; } = new Domain.Models.shop.Product();
    List<Domain.Models.shop.Catalog> catalogs = new List<Domain.Models.shop.Catalog>();
    string priceSplitComa = "";
    BlazoredTextEditor QuillHtmlF;
    BlazoredTextEditor QuillHtmlD;
    string QuillHTMLContent="";

    private string FormattedPrice => product.Price.ToString("#,0 تومان");
    private string FormattedPriceOld => product.PriceOld.ToString("#,0 تومان");

    protected override async Task OnInitializedAsync()
    {
        CatalogRepository catalogRepository = new CatalogRepository();
        catalogs = await catalogRepository.GetAllAsync();
    }

    async Task<bool> CheckValidData(){
        var isOk = true;
        if (string.IsNullOrEmpty(product.Name))
        {
            await js.InvokeVoidAsync("toastError", "عنوان محصول وارد نشده");
            isOk = false;
        }
        if (product.Price < 10000)
        {
            await js.InvokeVoidAsync("toastError", "مبلغ وارد شده صحیح نمی باشد");
            isOk = false;
        }

        if (product.CatalogId ==0)
        {
            await js.InvokeVoidAsync("toastError", "دسته محصول را انتخاب کنید");
            isOk = false;
        }
        product.Description = await this.QuillHtmlD.GetHTML();

        if (product.Description.Length<50)
        {
            await js.InvokeVoidAsync("toastError", "توضیحات محصول کوتاه می باشد");
            isOk = false;
        }
        product.Feauchers = await this.QuillHtmlF.GetHTML();

        if (product.Feauchers.Length<50)
        {
            await js.InvokeVoidAsync("toastError", "ویژگیهای محصول کوتاه می باشد");
            isOk = false;
        }
        return isOk;
    }

    async Task Save(){

        if (await CheckValidData() == false) return;
        ProductRepository productRepository = new ProductRepository();
        product.Images = "sssssss";
        product.Cdate = product.Mdate = new PersianDateTime(DateTime.Now).ToString();
        
        var res=await productRepository.InsertAsync(product);
        if (res.IsSuccess)
        {
            await js.InvokeVoidAsync("toast", "ذخیره شد");
            return;
        }
        

        await js.InvokeVoidAsync("toastError",res.Message);

    }
    // public async Task GetHTML()
    // {
    //     QuillHTMLContent = await this.QuillHtml.GetHTML();
    // }

    // public async Task SetHTML()
    // {
    //     string QuillContent =
    //         @"<a href='http://BlazorHelpWebsite.com/'>" +
    //         "<img src='images/BlazorHelpWebsite.gif' /></a>";

    //     await this.QuillHtml.LoadHTMLContent(QuillContent);
    // }


}