@page "/detail/{id:int}"
@using SamsarPanel.Client.ViewModels
@inject HttpClient http
@rendermode InteractiveAuto
<!-- ============================ Page Title Start================================== -->
<PageTitle>@Product.Name</PageTitle>
@if (RendererInfo.IsInteractive)
{
    <section class="page-title gray" style="background: linear-gradient(0deg, rgba(3,185,124,1) 0%, rgba(1,125,84,1) 93%);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12" >

                    <div class="breadcrumbs-wrap">
                        <h1 class="breadcrumb-title font-2 text-light">@Product.Name</h1>
                        <nav class="transparent">
                            <ol class="breadcrumb p-0">
                                <li class="breadcrumb-item"><a href="/">مبلمان کریمی</a></li>
                                <li class="breadcrumb-item active theme-cl" aria-current="page">@Product.Name</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Page Title End ================================== -->
    <!-- ============================ Product Detail Start================================== -->
    <section class="pr_detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">

                    <div class="woocommerce single_product quick_view_wrap">

                        <div class="woo-single-images">
                            <div class="feature-style-single">
                                <img src="/cpanel/assets/images/products/@image" alt="product-book-06" width="570" style=" object-fit: contain;  height: 385px;">
                            </div>
                            @if (Product.GetAllImages() != null)
                            {
                                <div class="row mt-3">

                                    @foreach (var item in Product.GetAllImages())
                                    {
                                        <div class="col-md-2 p-1 border">

                                            <img @onclick="()=>SetImage(item)" src="/cpanel/assets/images/products/@item" alt="product-book-06" class="w-100" height="70">
                                        </div>

                                    }
                                </div>
                            }

                        </div>

                        <div class="summary entry-summary">
                            <div class="woo_inner">
                                
                                <h2 class="woo_product_title">
                                    <a href="#">@Product.Name</a>
                                </h2>
                                <ul class="woo_info">
                                    @* <li><strong>دسته بندی:</strong>@Product.Catalog.Name</li> *@
                                    <li><strong>کد محصول:</strong>#CDP0147</li>
                                </ul>
                                <div class="woo_price_rate">
                                    <div class="woo_rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="woo_price_fix">
                                        <h3 class="mb-0 theme-cl">@Product.Price.ToString("#,0 تومان")</h3>
                                    </div>
                                </div>
                                <div class="woo_short_desc">
                                    @(new MarkupString(Product.Feauchers))
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Product Detail End ================================== -->
    <!-- ============================ Product Description ================================== -->
    <section class="pt-0">
        <div class="container">

            <div class="row">

                <div class="col-lg-10 col-md-12 col-sm-12">

                    <div class="property_block_wrap_header">
                        <ul class="nav nav-tabs customize-tab tabs_creative" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">توضیحات</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">جزئیات محصول</a>
                            </li>


                        </ul>
                    </div>

                    <div class="tab-content tabs_content_creative" id="myTabContent">

                        <!-- general Query -->
                        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                            @(new MarkupString(Product.Description))

                        </div>

                        <!-- general Query -->
                        <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">کد کالا</th>
                                            <td>#PRT123452</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">وزن</th>
                                            <td>125 کیلوگرم</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">شماره سریال</th>
                                            <td>SKL125002</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">رنگ</th>
                                            <td>مشکی</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- general Query -->

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- ============================ Product Description End ================================== -->
    <!-- ============================ Call To Action ================================== -->
    <section class="theme-bg call_action_wrap-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="call_action_wrap">
                        <div class="call_action_wrap-head">
                            <h3 class="font-2">ثبت سفارش</h3>
                            <span>
                                جهت ثبت سفارش یا هرگونه سوال، با ما تماس بگیرید.

                            </span>
                        </div>
                        <div>
                            <input type="text" class="form-control" placeholder="09*******" @bind-value="tel">
                            <button @onclick="SetOrder" class="btn btn-call_action_wrap d-block mt-2" >امروز با ما تماس بگیرید</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Call To Action End ================================== -->
    return;
}
<style>
    .loading{
        background:#ccc;
        height:20px;
        
    }
</style>
<section class="page-title gray" style="background: linear-gradient(0deg, rgba(3,185,124,1) 0%, rgba(1,125,84,1) 93%);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title font-2 text-light loading"></h1>
                    <nav class="transparent">
                        <ol class="breadcrumb p-0">
                            <li class="breadcrumb-item"></li>
                            <li class="breadcrumb-item active theme-cl loading" aria-current="page"></li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Product Detail Start================================== -->
<section class="pr_detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="woocommerce single_product quick_view_wrap">

                    <div class="woo-single-images">
                        <div class="feature-style-single loading" style="height:200px">
                            
                        </div>
                 

                    </div>

                    <div class="summary entry-summary">
                        <div class="woo_inner">
                            <h2 class="woo_product_title loading">
                               
                            </h2>
                            <ul class="woo_info">
                                @* <li><strong>دسته بندی:</strong>@Product.Catalog.Name</li> *@
                                <li class="loading"></li>
                            </ul>
                            <div class="woo_price_rate">
                                <div class="woo_rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="woo_price_fix">
                                    <h3 class="mb-0 theme-cl loading"></h3>
                                </div>
                            </div>
                            <div class="woo_short_desc loading" style="height:200px">
                             
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Product Detail End ================================== -->
<!-- ============================ Product Description ================================== -->






@code {
    [Parameter] public int Id { get; set; }
    public Product Product { get; set; } = new Product();
    string image = "";
    string tel;
    async Task SetOrder(){
        try
        {
             await http.GetFromJsonAsync<Product>($"api/shop/setorder/{Id}/{tel}");
            
        }
        catch (Exception ex)
        {
            var a = 1;
        }

    }


    protected override async Task OnInitializedAsync()
    {
        try
        {
            Product = await http.GetFromJsonAsync<Product>($"api/shop/getdetail/{Id}");
            image = Product.GetFirstImage();
        }
        catch (Exception ex)
        {
            var a = 1;
        }

    }
    void SetImage(string img)
    {
        image = img;
    }

}