@page "/"
@using SamsarPanel.Client.ViewModels
@inject HttpClient http
@rendermode InteractiveAuto

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

        <!-- اسلاید ۱ -->
        <div class="carousel-item active">
            <img style="height:100vh;object-fit:cover" class="d-block w-100" src="/skillup/assets/img/b-3.png" alt="First slide">

        </div>

        <!-- اسلاید ۲ -->
        <div class="carousel-item">
            <img style="height:100vh;object-fit:cover" class="d-block w-100" src="/skillup/assets/img/b-6.png" alt="Second slide">
        </div>

        <!-- اسلاید ۳ -->
        <div class="carousel-item">
            <img style="height:100vh;object-fit:cover" class="d-block w-100" src="/skillup/assets/img/b-2.png" alt="Third slide">
        </div>

    </div>

    <!-- کنترل‌ها -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">قبلی</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">بعدی</span>
    </a>
</div>

@* <style>
    .elsio_tag {
        background: #03b97c; /* رنگ سبز مثل حالت اول */
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        padding: 6px 15px;
        border-radius: 4px;
        margin-bottom: 15px;
    }

    .banner_title {
        font-size: 32px; /* سایز اصلی مثل بنر */
        font-weight: 700;
        line-height: 1.4;
        color: #fff;
    }

    .carousel-caption {
        bottom: 20%;
    }
</style> *@

<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Our Awards Start ================================== -->

<!-- ============================ Our Awards End ================================== -->
<!-- ============================ Top Categories Start ================================== -->
<section class="main">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 col-xl-10">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="sec-heading center">
                            <h3 class="font-2">
                                @catname
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- Single Grid -->
                    @foreach (var item in products)
                    {
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="crs_grid">
                                <div class="crs_grid_thumb">
                                    <a href="/detail/@item.Id" class="crs_detail_link">
                                        <img src="/cpanel/assets/images/products/@item.GetFirstImage()"
                                             class="img-fluid rounded" style="    height: 144px;   width: 100%;  object-fit: cover;"
                                             alt="@item.Name" />
                                    </a>
                                    @* <div class="crs_video_ico">
                                            <i class="fa fa-play"></i>
                                        </div>
                                        <div class="crs_locked_ico">
                                            <i class="fa fa-lock"></i>
                                        </div>
 *@                                    </div>
                                <div class="crs_grid_caption">

                                    <div class="crs_title">
                                        <h4>
                                            <a href="/detail/@item.Id" class="crs_title_link">@item.Name</a>
                                        </h4>
                                    </div>
                                    <div class="crs_info_detail">
                                        <ul>

                                            <li>
                                                <strong class="text-danger" style="text-decoration:line-through;font-size:1.2em">@item.PriceOld.ToString("#,0 تومان")</strong>
                                            </li>
                                            <li>
                                                <i class="fa fa-eye"></i><span>@item.Seen </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="preview_crs_info">
                                        <div class="progress">
                                            <div class="progress-bar"
                                                 role="progressbar"
                                                 style="width: 50%"
                                                 aria-valuenow="50"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crs_grid_foot">
                                    <div class="crs_flex">
                                        <div class="crs_fl_first">
                                            <div class="crs_price">
                                                <h2>
                                                    <span class="theme-cl">@item.Price.ToString("#,0")</span><span class="currency">تومان</span>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="crs_fl_last">
                                            <div class="crs_linkview">
                                                <a href="/detail/@item.Id"
                                                   class="btn btn_view_detail theme-bg text-light">مشاهده</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>

@code {
    List<Catalog> catalogs = new List<Catalog>();
    List<ProductVM> products = new List<ProductVM>();
    string catname = "محبوب ترین ها";



    protected override async Task OnInitializedAsync()
    {
        catalogs = await http.GetFromJsonAsync<List<Catalog>>("api/shop/getcats") ?? new List<Catalog>();
        products = await http.GetFromJsonAsync<List<ProductVM>>("api/shop/getpro/0") ?? new List<ProductVM>();
    }
    async Task GetProducts(int id, string name)
    {
        catname = name;
        products = await http.GetFromJsonAsync<List<ProductVM>>($"api/shop/getpro/{id}") ?? new List<ProductVM>();
    }
}