@page "/"
@page "/{id:int}"
@using SamsarPanel.Client.ViewModels
@using SharedLibrary.Services
@using static SamsarPanel.Client.ViewModels.SliderViewModel
@inject HttpClient http
@rendermode InteractiveAuto

<div id="carouselExampleDark" class="carousel carousel-dark slide" style="height: 60vh">
    <div class="carousel-indicators">

    @foreach (var (item, index) in Sliders.Select((s, i) => (s, i)))
    {
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="@index" class="@(index == 0 ? "active" : "")"  aria-current="true" aria-label="Slide @index"></button>
    }

    </div>
    <div class="carousel-inner" style="height: 60vh">
    @foreach (var (item, index) in Sliders.Select((s, i) => (s, i)))
        {
            <div class="carousel-item @(index == 0 ? "active" : "")" data-bs-interval="4000">
                <img src="/cpanel/assets/images/sliders/@item.ImageUrl" class="d-block w-100 " style="object-fit:cover ;height: 60vh" alt="@item.Alt">
                <div class="carousel-caption d-none d-md-block">
                    
                    @if (!string.IsNullOrEmpty(item.Title))
                    {
                        <h5>@item.Title</h5>
                    }
                    @if (!string.IsNullOrEmpty(item.Description))
                    {
                        <p>@item.Description</p>
                    }
                    @if (!string.IsNullOrEmpty(item.LinkButton))
                    {
                        <div><a href="@item.LinkButton" class="btn btn-primary">بیشتر</a></div>
                        
                    }
                    
                </div>
            </div>
        }

        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Our Awards Start ================================== -->
<section class="main">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4 col-xl-2">

                @if (RendererInfo.IsInteractive)
                {
                    <button type="button" @onclick="() => GetProducts(0, catname)" class="edu_cat_2 cat-1 my-1 py-1 border-0">
                        <div class="edu_cat_icons">
                            @* <a class="pic-main" ></a> *@
                        </div>
                        <div class="edu_cat_data">
                            <h4 class="title">محبوب ترین ها</h4>
                        </div>
                    </button>
                    foreach (var item in catalogs)
                    {
                        <button @onclick="() => GetProducts(item.Id, item.Name)" class="edu_cat_2 cat-1 my-1 py-1">
                            <div class="edu_cat_icons">
                                <a class="pic-main" href="#">
                                    @*  <img src="/skillup/assets/img/content.png" class="img-fluid" alt="" /> *@
                                    @(new MarkupString(item.Logo))
                                </a>
                            </div>
                            <div class="edu_cat_data">
                                <h4 class="title"><a href="#">@item.Name</a></h4>
                            </div>
                        </button>
                    }
                    

                }
            </div>
            <div class="col-md-8 col-xl-10"style="margin-top:-55px">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="sec-heading center">
                            <h3 class="font-2">
                                @catname
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- Single Grid -->
                    @foreach (var item in products)
                    {
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                            <div class="crs_grid">
                                <div class="crs_grid_thumb">
                                    <a href="/detail/@item.Id" class="crs_detail_link">
                                        <img src="/cpanel/assets/images/products/@item.GetFirstImage()"
                                             class="img-fluid rounded" style="    height: 144px;   width: 100%;  object-fit: cover;"
                                             alt="@item.Name" />
                                    </a>
                                    @* <div class="crs_video_ico">
                                            <i class="fa fa-play"></i>
                                        </div>
                                        <div class="crs_locked_ico">
                                            <i class="fa fa-lock"></i>
                                        </div>
 *@                                    </div>
                                <div class="crs_grid_caption">

                                    <div class="crs_title">
                                        <h4>
                                            <a href="/detail/@item.Id" class="crs_title_link">@item.Name</a>
                                        </h4>
                                    </div>
                                    <div class="crs_info_detail">
                                        <ul>

                                            <li>
                                                <strong class="text-danger" style="text-decoration:line-through;font-size:1.2em">@item.PriceOld.ToString("#,0 تومان")</strong>
                                            </li>
                                            <li>
                                                <i class="fa fa-eye"></i><span>@item.Seen </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="preview_crs_info">
                                        <div class="progress">
                                            <div class="progress-bar"
                                                 role="progressbar"
                                                 style="width: 50%"
                                                 aria-valuenow="50"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crs_grid_foot">

                                        <div class="crs_fl_first">
                                            <div class="crs_price">
                                                <h2>
                                                    <span class="theme-cl">@item.Price.ToString("#,0")</span><span class="currency">تومان</span>
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="crs_fl_last">
                                            <div class="crs_linkview">
                                                <a href="/detail/@item.Id"
                                                   class="btn btn_view_detail theme-bg text-light">مشاهده</a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>
@inject ICookieService CookieService
@inject IJSRuntime JSRuntime
@code {
    List<Catalog> catalogs = new List<Catalog>();
    List<ProductVM> products = new List<ProductVM>();
    List<SliderViewModel> Sliders = new List<SliderViewModel>();
    string catname = "محبوب ترین ها";
    [Parameter] public int Id { get; set; } = 0;
    
    protected override async Task OnInitializedAsync()
    {
      //  catalogs = await CookieService.GetAsync<List<Catalog>>("cats");

        //if (catalogs == null || !catalogs.Any())
       // {
            // If not in cookie, fetch from repository
            catalogs = await http.GetFromJsonAsync<List<Catalog>>("api/shop/getcats") ?? new List<Catalog>();
            // Store in cookie with 30 minutes expiration
          //  await CookieService.SetAsync("cats", catalogs, TimeSpan.FromMinutes(30));
       // }

        
        if (Id>0)
        {
            var cat=catalogs.Where(a => a.Id == Id).FirstOrDefault();
            if (cat==null)
            {
                Id = 0;
            }
            else
            {
                catname = cat.Name;
            }
            products = await http.GetFromJsonAsync<List<ProductVM>>($"api/shop/getpro/{Id}") ?? new List<ProductVM>();
        }
        else
        {
            products = await http.GetFromJsonAsync<List<ProductVM>>("api/shop/getpro/0") ?? new List<ProductVM>();
        }
        
        Sliders =  await http.GetFromJsonAsync<List<SliderViewModel>>("api/slider/getsliders")?? new List<SliderViewModel>();
    }
    async Task GetProducts(int id, string name)
    {
        catname = name;
        products = await http.GetFromJsonAsync<List<ProductVM>>($"api/shop/getpro/{id}") ?? new List<ProductVM>();
    }
}