@page "/cpanel/users/"
@using Domain.ViewModels
@layout Layout.Cpanel.MainLayoutCpanel
@inject UserManager<ApplicationUser> userManager
@inject NavigationManager nav
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<div class="page-header">
    <div>
        <h3>کاربران</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">کنترل پنل</a></li>
                <li class="breadcrumb-item active"><a href="#">کاربران</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page header -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">عنوان محتوا</h5>
        <form class="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="جستجو ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn" type="button" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="table-responsive" tabindex="1" style="overflow: auto; outline: none;">
            <table class="table">
                <tr class="text-center">
                    <th>نام </th>
                    <th>ایمیل</th>
                    <th>تلفن</th>
                    <th>وضعیت</th>
                    <th>آخرین بازدید</th>
                    <th>تعداد بازدید</th>
                    <th></th>
                </tr>
                @foreach (var item in Users)
                {
                    <tr class="text-center">
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            @if (item.IsSuspend)
                            {
                                <span class="bg-warning d-inline-block border m-auto" style="border-radius: 50%;  width: 10px;  height: 10px;"></span>
                            }
                            else
                            {
                                <span class="bg-success d-inline-block border m-auto" style="border-radius: 50%;  width: 10px;  height: 10px;"></span>
                            }
                        </td>
                        <td>@item.LastDateLogin</td>
                        <td>@item.LoginCount</td>
                        <td class="text-left">
                            <div class="dropdown">
                                <a href="#" class="btn btn-light btn-floating btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" type="button" @onclick='()=> nav.NavigateTo($"/cpanel/users/profile/{item.UserId}" , true)'>پروفایل</button>
                                    <button class="dropdown-item" type="button">عمل دیگر</button>
                                    <button class="dropdown-item" type="button">یک عمل دیگر</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        
    </div>
</div>
@code {
    public List<UserVM> Users { get; set; } = new List<UserVM>();
   
    protected override async Task OnInitializedAsync()
    {
        //"" +" " +"" ===> " "  ""
        Users = await userManager.Users.Select(s => new UserVM
            {
                Email = s.Email,
                FullName = (s.Firstname ?? string.Empty + " " + s.Lastname ?? string.Empty).Trim(),
                PhoneNumber = s.PhoneNumber??string.Empty,
                UserId = s.Id,
                UserName=s.UserName,
                IsSuspend=s.IsSuspend,
                LastDateLogin=s.LastDateLogin,
                LoginCount=s.LoginCount

            }).ToListAsync();
    }
}