@page "/cpanel/users/"
@using Domain.Resourses
@using Domain.ViewModels
@using Microsoft.Extensions.Caching.Memory
@layout Layout.Cpanel.MainLayoutCpanel
@inject UserManager<ApplicationUser> userManager
@inject NavigationManager nav
@inject IMemoryCache cache
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<div class="page-header">
    <div>
        <h3>کاربران</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">کنترل پنل</a></li>
                <li class="breadcrumb-item active"><a href="#">کاربران</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page header -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">عنوان محتوا</h5>
        <form class="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="جستجو ..." @bind-value="search">
                <div class="input-group-append">
                    <button class="btn" type="button" @onclick="SearchBtn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="table-responsive" tabindex="1" style="overflow: auto; outline: none;">
            <table class="table">
                <tr class="text-center">
                    <th>آواتار </th>
                    <th>مشخصات </th>
                    <th>راه های ارتباط</th>
                    <th>وضعیت</th>
                    <th>امار بازدید</th>

                    <th></th>
                </tr>
                @foreach (var item in Users)
                {
                    <tr class="text-center">
                        <td><img src="@item.avatar" style="width:50px;height:50px;border-radius:50%;display:block;margin:auto"/></td>
                        <td>@item.FullName<div>@item.UserName</div></td>
                        <td>@item.Email<div>@item.PhoneNumber</div></td>

                        <td>
                            @if (item.IsSuspend)
                            {
                                <span class="bg-warning d-inline-block border m-auto" style="border-radius: 50%;  width: 10px;  height: 10px;"></span>
                            }
                            else
                            {
                                <span class="bg-success d-inline-block border m-auto" style="border-radius: 50%;  width: 10px;  height: 10px;"></span>
                            }
                        </td>
                        <td>@item.LastDateLogin<div>@item.LoginCount بازدید</div></td>
                        <td class="text-left">
                            <div class="dropdown">
                                <a href="#" class="btn btn-light btn-floating btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" type="button" @onclick='()=> nav.NavigateTo($"/cpanel/users/profile/{item.UserId}" , true)'>پروفایل</button>
                                    <button class="dropdown-item" type="button">عمل دیگر</button>
                                    <button class="dropdown-item" type="button">یک عمل دیگر</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>
@code {
    public List<UserVM> Users { get; set; } = new List<UserVM>();
    string search = "";
    protected override async Task OnInitializedAsync()
    {
        var allUsers = new List<UserVM>();
        if (cache.TryGetValue("all-users", out allUsers))
        {
            Users = allUsers;
            cache.Remove("all-users");
            return;
        }
        //"" +" " +"" ===> " "  ""
        Users = await userManager.Users.Select(s => new UserVM
            {
                Email = s.Email,
                FullName = (s.Firstname ?? string.Empty + " " + s.Lastname ?? string.Empty).Trim(),
                PhoneNumber = s.PhoneNumber??string.Empty,
                UserId = s.Id,
                UserName=s.UserName,
                IsSuspend=s.IsSuspend,
                avatar = string.IsNullOrEmpty(s.Avater) ? ConstantCpanel.image_user_no_avatar : ConstantCpanel.image_user_Path + "/" + s.Avater,
                LastDateLogin=s.LastDateLogin,
                LoginCount=s.LoginCount

            }).AsNoTracking().ToListAsync();

        cache.Set("all-users", Users);
    }
    private async Task SearchBtn(MouseEventArgs e)
    {
        Users = await userManager.Users.Where(a => a.UserName.Contains(search) 
           || a.Firstname.Contains(search) || a.Lastname.Contains(search) 
          || a.Email.Contains(search) || a.PhoneNumber.Contains(search)).Select(s => new UserVM
            {
                Email = s.Email,
                FullName = (s.Firstname ?? string.Empty + " " + s.Lastname ?? string.Empty).Trim(),
                PhoneNumber = s.PhoneNumber ?? string.Empty,
                UserId = s.Id,
                UserName = s.UserName,
                IsSuspend = s.IsSuspend,
                avatar = string.IsNullOrEmpty(s.Avater) ? ConstantCpanel.image_user_no_avatar : ConstantCpanel.image_user_Path + "/" + s.Avater,
                LastDateLogin = s.LastDateLogin,
                LoginCount = s.LoginCount

            }).AsNoTracking().ToListAsync();
    }
}