@page "/cpanel/users/"
@using Domain.Data
@using Domain.ViewModels
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@layout Layout.Cpanel.MainLayoutCpanel
@inject UserManager<ApplicationUser> userManager
<PageTitle>Home</PageTitle>

<div class="page-header">
    <div>
        <h3>صفحه خالی</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">داشبورد</a></li>
                <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                <li class="breadcrumb-item active" aria-current="page">صفحه خالی</li>
            </ol>
        </nav>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            اقدامات
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">عمل</a>
            <a class="dropdown-item" href="#">عمل دیگر</a>
            <a class="dropdown-item" href="#">یک عمل دیگر</a>
        </div>
    </div>
</div>
<!-- end::page header -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">عنوان محتوا</h5>
        <form class="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="جستجو ..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn" type="button" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="table-responsive" tabindex="1" style="overflow: hidden; outline: none;">
            <table class="table">
                <tr>
                    <th>نام </th>
                    <th>ایمیل</th>
                    <th>تلفن</th>
                    <th>وضعیت</th>
                    <th>آخرین بازدید</th>
                    <th>تعداد بازدید</th>
                    <th></th>
                </tr>
                @foreach (var item in Users)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.IsSuspend</td>
                        <td>@item.LastDateLogin</td>
                        <td>@item.LoginCount</td>
                        <td class="text-left">
                            <div class="dropdown">
                                <a href="#" class="btn btn-light btn-floating btn-icon btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item" type="button">عمل</button>
                                    <button class="dropdown-item" type="button">عمل دیگر</button>
                                    <button class="dropdown-item" type="button">یک عمل دیگر</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        
    </div>
</div>
@code {
    public List<UserVM> Users { get; set; } = new List<UserVM>();
    protected override async Task OnInitializedAsync()
    {
        //"" +" " +"" ===> " "  ""
        Users = await userManager.Users.Select(s => new UserVM
            {
                Email = s.Email,
                FullName = (s.Firstname ?? string.Empty + " " + s.Lastname ?? string.Empty).Trim(),
                PhoneNumber = s.PhoneNumber??string.Empty,
                UserId = s.Id,
                UserName=s.UserName,
                IsSuspend=s.IsSuspend,
                LastDateLogin=s.LastDateLogin,
                LoginCount=s.LoginCount

            }).ToListAsync();
    }
}